<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part One: Data Input </h2>

<h3>  Import Statements </h3>

In [8]:
# Import anything you need here
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
import os

<h4> Using the code for reference, take the given folder and create a dataframe with the picture object, and the encoding as listed below. </h4>	
0=Airplanes, 1=Bear, 2=Blimp, 3=Comet, 4=Crab, 5=Dog, 6=Dolphin, 7=Giraffe, 8=Goat, 9=Gorilla, 10=Kangaroo, 11=Killer-Whale, 12=Leopards, 13=Llama, 14= Penguin, 15= Porcupine, 16=Teddy-Bear, 17=Triceratops, 18=Unicorn, 19=Zebra

In [20]:
def read_organize_data(file_path):
    # Fill this function out, should return a dataframe with picture object, and correct encoding
    imgs = []
    labels = []
    for (idx, label) in enumerate(sorted(os.listdir(file_path))):
        for img_file in os.listdir(os.path.join(file_path, label)):
            img = io.imread(os.path.join(file_path, label, img_file))
            imgs.append(img)
            labels.append(idx)
    df = pd.DataFrame({
        "Pictures": imgs,
        "Encodings": labels
    })
    return df

In [19]:
# Training dataframe
train_dir = '20_categories_training/20_categories_training'
train_df = read_organize_data(train_dir)
train_df.head()
train_df.to_pickle("train.pkl")

airplanes
bear
blimp
comet
crab
dog
dolphin
giraffe
goat
gorilla
kangaroo
killer-whale
leopards
llama
penguin
porcupine
teddy-bear
triceratops
unicorn
zebra

In [4]:
# Validation dataframe
test_dir = '20_Validation'
imgs = []
for img_file in os.listdir(test_dir):
    img = io.imread(os.path.join(test_dir, img_file))
    imgs.append(img)
test_df = pd.DataFrame({"Pictures": imgs})
test_df.to_pickle("test.pkl")

In [5]:
print(train_df.shape)
train_df.head()

(1501, 2)

                                            Pictures  Encodings
0  [[[143, 142, 147], [222, 221, 226], [205, 204,...          0
1  [[[106, 109, 116], [105, 108, 115], [100, 103,...          0
2  [[[125, 141, 140], [103, 119, 118], [89, 105, ...          0
3  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...          0
4  [[[119, 122, 103], [104, 107, 88], [102, 105, ...          0

In [6]:
print(test_df.shape)
test_df.head()

(716, 1)

                                            Pictures
0  [[[37, 37, 37], [35, 35, 35], [33, 33, 33], [3...
1  [[[255, 254, 255], [255, 254, 255], [255, 254,...
2  [[[9, 3, 13], [5, 0, 9], [3, 0, 7], [5, 0, 9],...
3  [[[64, 86, 48], [123, 143, 106], [124, 144, 10...
4  [[[159, 153, 141], [156, 150, 136], [145, 138,...

Let's create a quick lookup table between encodings and image class labels.

In [21]:
labels = []
for label in sorted(os.listdir(train_dir)):
    labels.append(label)
label_dict = pd.DataFrame()
label_dict["labels"] = labels
label_dict.to_csv("labels.csv")
label_dict.head()

      labels
0  airplanes
1       bear
2      blimp
3      comet
4       crab