<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part One: Data Input </h2>

<h3>  Import Statements </h3>

In [1]:
# Import anything you need here
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
import os
import re

/Users/Jerome/anaconda/lib/python3.6/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}

<h4> Using the code for reference, take the given folder and create a dataframe with the picture object, and the encoding as listed below. </h4>	
0=Airplanes, 1=Bear, 2=Blimp, 3=Comet, 4=Crab, 5=Dog, 6=Dolphin, 7=Giraffe, 8=Goat, 9=Gorilla, 10=Kangaroo, 11=Killer-Whale, 12=Leopards, 13=Llama, 14= Penguin, 15= Porcupine, 16=Teddy-Bear, 17=Triceratops, 18=Unicorn, 19=Zebra

In [2]:
def read_organize_data(file_path):
    # Fill this function out, should return a dataframe with picture object, and correct encoding
    imgs = []
    labels = []
    for (idx, label) in enumerate(sorted(os.listdir(file_path))):
        for img_file in os.listdir(os.path.join(file_path, label)):
            img = io.imread(os.path.join(file_path, label, img_file))
            imgs.append(img)
            labels.append(idx)
    df = pd.DataFrame({
        "Pictures": imgs,
        "Encodings": labels
    })
    return df

In [3]:
# Training dataframe
train_dir = '20_categories_training/20_categories_training'
train_df = read_organize_data(train_dir)
train_df.head()
train_df.to_pickle("train.pkl")

In [4]:
# Validation dataframe
test_dir = '20_Validation'
imgs = []
fnums = []
for img_file in os.listdir(test_dir):
    fnums.append(int(re.findall(r'\d+', img_file)[0]))
    img = io.imread(os.path.join(test_dir, img_file))
    imgs.append(img)
test_df = pd.DataFrame({
    "Pictures": imgs,
    "order": fnums
})
test_df = test_df.sort_values(by='order')
test_df = test_df.drop(["order"], axis=1)
test_df.reset_index(drop=True, inplace=True)
test_df.to_pickle("test.pkl")

In [5]:
print(train_df.shape)
train_df.head()

(1501, 2)

                                            Pictures  Encodings
0  [[[255, 255, 255], [255, 255, 255], [255, 255,...          0
1  [[[88, 56, 17], [95, 63, 24], [101, 69, 30], [...          0
2  [[[255, 255, 255], [255, 255, 255], [255, 255,...          0
3  [[[255, 255, 255], [255, 255, 255], [255, 255,...          0
4  [[[255, 255, 255], [255, 255, 255], [255, 255,...          0

In [6]:
print(test_df.shape)
test_df.head()

(716, 1)

                                            Pictures
0  [[[80, 79, 74], [56, 55, 50], [54, 53, 48], [4...
1  [[[10, 15, 19], [10, 15, 19], [11, 16, 19], [1...
2  [[[232, 231, 247], [250, 249, 255], [235, 234,...
3  [[[97, 75, 77], [98, 76, 78], [99, 77, 79], [1...
4  [[[19, 46, 55], [19, 46, 53], [20, 47, 54], [2...

Let's create a quick lookup table between encodings and image class labels.

In [7]:
labels = []
for label in sorted(os.listdir(train_dir)):
    labels.append(label)
label_dict = pd.DataFrame()
label_dict["labels"] = labels
label_dict.to_csv("labels.csv")
label_dict.head()

      labels
0  airplanes
1       bear
2      blimp
3      comet
4       crab